#characterDiv{
    position:relative;
    display: flex;
    background:teal;
    width:500px;
    height: 700px;
    top: 100px;
    left:30%;
}

#sliderContainer{
    position: relative;
    display:flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    left: 130%;
    z-index: 10;

}

#sliderText{
    position: relative;
    display:flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    left: 70%;
}

#head {
  position: relative; 
  display: inline-block;
  z-index: 2;
}

#eyes {
  position: absolute;
  top: 38.6%;  
  left: 32.5%; 
  width: 70px; 
  filter: hue-rotate(0deg); 
}

#mouth {
  position: absolute;
  top: 63%;   
  left: 48%;  
  width: 70px;  
}


#torso{
  position: absolute;
  top: 208%;
  transform: rotate(-6deg);   
  left: 30%;  
  width: 70px; 
  z-index: 1;
}

#arm1{
    position: relative;
    top: -500px;
    left:1100px;
    transform: rotate(2deg);
}

#arm2{
    position: relative;
    top: -980px;
    left:720px;
    transform: rotate(2deg);
    z-index: 6 ;
}

#arm2Div{
    position: relative;
    z-index: 2;
}

#forearm2Div{
  position: relative;

  right:14%;
  transform: rotate(9deg);  

  z-index: 1;
}

#hand2Div{
  position: relative;

  right:22%;
  transform: rotate(9deg);  

  z-index: 0;
}

#arm1Div{
    position: relative;
    z-index: 2;
}

#forearm1Div{
  position: relative;

  right:14%;
  transform: rotate(9deg);  

  z-index: 1;
}

#hand1Div{
  position: relative;

  right:22%;
  transform: rotate(9deg);  

  z-index: 0;
}

#thigh1{
    position:relative; 
    top: 220px;
    right:330px;
    transform: rotate(-10deg);
    z-index: -1;
}

#foot1{
  position: relative;
  top:300px;
  right:600px;
  z-index: -2;
}

#lowerLeg2{
  position:relative;
  top:-500px;
  left:350px;
}

#thigh2{
  position:relative;
  top:-280px;
  z-index: -1;
}

#foot2{
  position: relative;
  top:-180px;
  right:300px;
  z-index: -2;
}

#leg1{
  position: relative;
  top:-1010px;
  left:700px;
  
}

#leg2{
  position: relative;
  top:-1070px;
  left:680px;
  transform: rotate(-5deg);
}

#characterElement{
  position: relative;
  top: -300px;
  transform: scale(0.25);
  right:1000px;
}

#torsoimg{
  filter: hue-rotate(10deg); 
}

#leg1{
  filter: hue-rotate(10deg); 
}
#leg2{
  filter: hue-rotate(10deg); 
}

#navBarDiv{
  position: absolute;
  left:50%;
}